* {
    background-color: black;
    color: white;
    margin: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    user-select: none;
}

img {
    visibility: hidden;
    /* overflow: hidden; */
}

canvas {
    border: 2px solid teal;
    width: 50%;
    height: auto;
    /* max-width: 250px;
    max-height: 250px; */
    /* overflow: hidden; */
}

#main {
    /* border: 2px solid rgb(13, 255, 0); */
    width: 99%;
    height: 99%;
    display: flex;
    /* overflow: hidden; */
}

#side_panel {
    width: 300px;
    /* overflow: hidden; */
}

#left_panel {
    min-width: 300px;
    width: 700px;
    height: 99%;
    display: flex;
    flex-flow: column;
    align-items: left;
    justify-content: left;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#Items {
    min-width: 300px;
    width: 700px;
    height: 99%;
    display: flex;
    flex-flow: column;
    align-items: left;
    justify-content: left;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#header {
    /* border: 2px solid rgb(13, 255, 0); */
    height: 30px;
}

.type_bar {
    height: 30px;
}

.type_bar_button {
    background-color:#77473b;
    color: #fff;
    border:none; 
    border-radius:8px; 
    padding:8px;
    min-height:30px; 
    min-width: 100px;
}

.type_bar_button:hover {
    background-color:#ad4e00;
    transition: 0.2s;
}

.type_bar_button:active {
    background-color: #bc8d00;
    transition: 0.1s;
    color: rgb(0, 0, 0);
}


#right_panel {
    width: 80%;
    height: 99%;
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    overflow: hidden;
}

#column {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#row {
    width: 100%;
}

#row_center {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

#row_left {
    display: flex;
    flex-flow: row;
    align-items: left;
    justify-content: left;
}

#column_left {
    display: flex;
    flex-flow: column;
    align-items: left;
    justify-content: left;
}

#copyBtn {
    background-color:#77473b;
    color: #fff;
    border:none; 
    border-radius:8px; 
    padding:8px;
    min-height:30px; 
    min-width: 100px;
}

#copyBtn:hover {
    background-color:#ad4e00;
    transition: 0.2s;
}

#copyBtn:active {
    background-color: #bc8d00;
    transition: 0.1s;
    color: rgb(0, 0, 0);
}

#bitmap {
    max-width: 250px;
    height: 30px;
}

#btn {
    background-color:#77473b;
    color: #fff;
    border:none; 
    border-radius:8px; 
    padding:8px;
    min-height:30px; 
    min-width: 100px;
}

#btn:hover {
    background-color:#ad4e00;
    transition: 0.2s;
}

#btn:active {
    background-color: #bc8d00;
    transition: 0.1s;
    color: rgb(0, 0, 0);
}

#btn_pressed {
    background-color:#a8802a;
    color: rgb(49, 49, 49);
    border:none; 
    border-radius:8px; 
    padding:8px;
    min-height:30px; 
    min-width: 100px;
}

/* #btn_pressed:hover {
    background-color:#ad4e00;
    transition: 0.2s;
} */

/* #btn_pressed:active {
    background-color: #bc8d00;
    transition: 0.1s;
    color: rgb(0, 0, 0);
} */
