* {
    /* background-color: black; */
    /* color: white; */
    margin: 0px 0px;
    padding: 0px 0px;
    user-select: none;
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
    margin: 0px 0px;
    padding: 0px 0px;
    overflow-y: auto;
    overflow-x: auto;
}

img {
    visibility: hidden;
    overflow: hidden;
}

canvas {
    border: 2px solid teal;
    min-width: 256px;
    min-height: 256px;
    max-width: 512px;
    max-height: 512px;
}

.main_total {
    width: 100vw;
    height: 100vh;
}

.main {
    /* background-color: #a8802a; */
    /* background-color: #000000; */
    color: white;
    margin-top: 60px; /* Add a top margin to avoid content overlay */
    height: fit-content;
    width: fit-content;
    margin: 0px 0px;
    padding-top: 40px;
    padding-bottom: 0px;
    overflow: hidden;
}

.main_inner {
    /* border: 2px solid rgb(13, 255, 0); */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.column_left {
    /* border: 2px solid rgb(13, 255, 0); */
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-flow: column;
    align-items: right;
    justify-content: right;
    row-gap: 10px;
    overflow-y: auto;
}

.left_span {
 width: 100%;
}

.main_inner .left_span {
 width: 80%;
}

.left_side {
    /* border: 2px solid rgb(13, 255, 0); */
    width: 300px;
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: left;
    justify-content: left;
    /* overflow: auto; */
}

.left_side .label {
    display: flex;
    flex-direction: row;
    max-width: 300px;
    min-width: 300px;
}

.left_side .label_value {
    display: flex;
    flex-direction: column;  
    min-width: 180px;  
}

.right_side {
    /* border: 2px solid rgb(13, 255, 0); */
    width: fit-content;
    height: fit-content;
    min-width: 295px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
}

.align_left {
    /* border: 2px solid rgb(13, 255, 0); */
    width: fit-content;
    height: fit-content;
    min-width: 295px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: left;
    justify-content: left;
}

.header {
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: fit-content;
    overflow-x: auto;
}

.header_inner {
    /* border: 2px solid rgb(13, 255, 0); */
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

#grid {
    position: relative;
    display: flex;
    flex-direction: row;
}

#side_panel {
    position: relative;
    width: 300px;
    /* overflow: hidden; */
}

.type_bar {
    height: 30px;
}

#copyBtn,#insertAfxBtn,#insertStatBtn,.btn,#insertTextureBtn,#insertEmitterBtn {
    background-color:#77473b;
    color: #fff;
    border:none; 
    border-radius:4px; 
    padding:4px;
    margin: 4px;
    height:fit-content; 
    width: fit-content;
}

#copyBtn:hover,#insertAfxBtn:hover,#insertStatBtn:hover,.btn:hover {
    background-color:#ad4e00;
    transition: 0.2s;
}

#copyBtn:active,#insertAfxBtn:active#insertStatBtn:active,.btn:active {
    background-color: #bc8d00;
    transition: 0.1s;
    color: rgb(0, 0, 0);
}

.btn_pressed {
    background-color:#a8802a;
    color: rgb(49, 49, 49);
    border:none; 
    border-radius:8px; 
    padding:4px;
    margin: 4px;
    height:fit-content; 
    width: fit-content;
}

input[type="text"], textarea {
    border: 1px solid black;
    background-color : #77473b; 
    color: white;
}

/* Weapon Page */
#bitmap, #bitmap_type, #speed, #damage, #range, #armor, #copper, #silver, #tin, #gold, #flag_common, #flag_type, #skill, #slot_right, #slot_left, #destructable, #model, #model_type, #material, #race, #spell_name, #spell_trigger, #spell_damage, #equiped_particle, #insert_stat, #stat_amount {
    border: 1px solid black;
    background-color : #77473b; 
    color: white;
    margin: 4px;
}

/* Effect Page */
#leech_tick,#leech_tick_rate,#drain_tick,#drain_tick_rate,#leech_type,#drain_type,#resist,#target,#add_effect,#effect_amount,#insert_effect,#insertStatBtn {
    border: 1px solid black;
    background-color : #77473b; 
    color: white;
    margin: 4px;
}

/* Spell Page */
#insertAfxBtn,#insert_afxCasting,#insert_afxBegin,#insert_afxEnd,#duration,#castTime,#recastTime,#castRange,#insert_afxEffectBegin,#insert_afxEffectEnd {
    border: 1px solid black;
    background-color : #77473b; 
    color: white;
    margin: 4px;
}

.label_value {
    background-color:#77473b;
    color: #fff;
    border:none; 
    border-radius:4px; 
    padding:4px;
    height:fit-content; 
    width: fit-content;
}

.label_value:hover {
    background-color:#ad4e00;
    transition: 0.2s;
}

.label_value:active {
    background-color: #bc8d00;
    transition: 0.1s;
    color: rgb(0, 0, 0);
}


